<mat-toolbar color="primary">
  <mat-icon class="logo-icon">directions_bike</mat-icon>
  <span>Bike Calculator</span>
  <span class="spacer"></span>
</mat-toolbar>

<div class="wrapper">
  <bc-bike-params-form-card (params)="processParams($event)"></bc-bike-params-form-card>
  <bc-bike-speed-card [speed]="speed"></bc-bike-speed-card>
</div>
