<div class="card-wrapper">
  <mat-card class="speed-card">
    <mat-card-header>
      <mat-icon mat-card-avatar class="big-light-icon">timer</mat-icon>
      <mat-card-title>Prędkość</mat-card-title>
      <mat-card-subtitle>Obliczona na podstawie parametrów</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="speed-card-content">
      {{ speed }}
    </mat-card-content>
  </mat-card>
</div>
