html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(210,210,210,1) 100%);
}

.big-light-icon {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.54);
}

.full-width {
  width: 100%;
}
