.form-wrapper {
  margin-right: 15px;

  form {
    width: 280px;
  }

  .params-card-content {
    margin-bottom: 0 !important;
  }

  .params-card-actions {
    text-align: center;
    padding-top: 2px !important;
  }
}
