<div class="form-wrapper">
  <form [formGroup]="form" (submit)="submitParams()">
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar class="big-light-icon">build</mat-icon>
        <mat-card-title>Parametry roweru</mat-card-title>
        <mat-card-subtitle>Podaj parametry i zatwierdź</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="params-card-content">
        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Kadencja" formControlName="cadence">
          <span matSuffix>obr/min</span>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Zęby (przód)" formControlName="frontTeeth">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Zęby (tył)" formControlName="rearTeeth">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Średnica" formControlName="wheelDiameter">
          <span matSuffix>cale</span>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="params-card-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          Zatwierdź
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
